# Site settings
site: Michelson Lab
title: Michelson Lab
keywords: critical care, sepsis, informatics, machine learning artificial intelligence
description: >-
  Michelson Lab
lang: en-US
timezone:  America/Chicago
repo: https://github.com/andrewmichelson # site repo [optional]
google_verify:      XXX # Put your Google Verification here
google_analytics:   UA-XXXXXXXX-00 # Put your Google Analytics code
discus-identifier:  XXX

# Author settings
author:
  name: Andrew P. Michelson, MD
  bio: Assistant Professor | Director, Critical Care Informatics Research  | Faculty Affiliate, Institute for Informatics | Intensivist | Physician Scientist
  picture: assets/images/apm.png 
  github: andrewmichelson # github username
  twitter: apmichelson # twitter username
  facebook:  # facebook username
  instagram:  # instagram username
  youtube:  # youtube username
  linkedin:  # linkedin username
  email: amichels@wustl.edu # email adress


# URL settings
url: "https://andrewmichelson.github.io" # Domain Name of host. [username].github.io for github pages
permalink: pretty

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge


exclude:
  - .jekyll-cache
  - .obsidian
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md
  - CONTRIBUTING.md

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-relative-links
paginate: 4
paginate_path: "/page/:num"

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: false
    permalink: /:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

relative_links:
  enabled:     true
  collections: false
