---
layout: default
---
 
<hr>
<font size = 4> Hello! <br>I am a physician-scientist at at Washington University in St. Louis committed to innovative, digital healthcare transformation. My interests revolve around the direct application of emerging healthcare technologies and informatics tools within the hospital system to improve the delivery of precision care. </font>
<br>
<div style="-webkit-column-count: 2; -moz-column-count: 2; column-count: 2">
    <div>
        <h2>Interests</h2>
			<ul><li>Artificial intelligence/Machine learning</li>
			<li>Computer vision</li>
			<li>Critical care outcomes</li>
			<li>Sepsis</li>
			<li>Primary graft dysfunction of the lung</li>
	    		</ul>
			</code>
    </div>
    <div style="display: inline-block;">
        <h2>Education</h2>
	    <ul><li>M.D., Case Western Reserve University, Cleveland, OH</li>
		<li>Internal Medicine, Washington University in St. Louis</li>
		<li>Pulmonology & Critical Care Medicine, Washington University in St. Louis</li>
	   
</code>
    </div>
</div>
<hr style="width:90%;text-align:left;margin-left:0">
<h2>Recent Activity</h2>

<div class="post-container">

	{% for post in paginator.posts %}
        <div class="post-list">
            <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%m.%d.%Y" }}</time>
        </div>
    {% endfor %}
</div>
<br><p>
{% include pagination.html %}
